include *.txt
include LICENSE
recursive-include sphinx_shoop_theme *.conf
recursive-include sphinx_shoop_theme *.css
recursive-include sphinx_shoop_theme *.eot
recursive-include sphinx_shoop_theme *.html
recursive-include sphinx_shoop_theme *.js
recursive-include sphinx_shoop_theme *.svg
recursive-include sphinx_shoop_theme *.ttf
recursive-include sphinx_shoop_theme *.woff
